@import url(https://fonts.googleapis.com/css?family=Acme);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=Rokkitt);


body {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  font-weight: 300;
  margin-bottom: 0;
}

h1, h2, h3 {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  color: #2B3990;
}

.remark-code {
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
  font-size: 70%;
}

.remark-slide-content h1 {
    font-size: 48px;
    margin-bottom: 0;
}

.remark-slide-content h2 {
    font-size: 36px;
}

.remark-slide-content {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 0;
}

.footnote {
  font-size: 70%;
}

.small-margins {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.tiny-margins {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.tiny {
  font-size: 50%;
  font-color: black;
}

.small {font-size: 18px;}

.large {font-size: 120%;
font-color: black;}

.extralarge {font-size: 200%;
font-color: black;}

.left-tree {
  width: 48%;
  height: 92%;
  float: left;
}

.right-table {
  width: 50%;
  float: right;
  padding-left: 1%;
}

.pull-left-narrow {
  width: 30%;
  float: left;
}

.pull-right-wide {
  width: 65%;
  float: right;
  text-align: left;
}

.acme { font-family: 'Acme'; }

.grey { color: grey; }

.white { color: white; }
